* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #191724;
    bg1: #1F1D2E;
    bg2: #232136;
    bg3: #2A273F;

    /* Foregrounds */
    fg0: #F5E0DC;
    fg1: #F2CDCD;
    fg2: #F5C2E7;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}