* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #0B0612;
    bg1: #0F0818;
    bg2: #140A1F;
    bg3: #1B0F2A;

    /* Foregrounds */
    fg0: #D946EF;
    fg1: #22D3EE;
    fg2: #F472B6;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}