* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #12100E;
    bg1: #181411;
    bg2: #1C1815;
    bg3: #26211D;

    /* Foregrounds */
    fg0: #FF9E64;
    fg1: #E0AF68;
    fg2: #F7768E;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}