* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #0F0F14;
    bg1: #12121A;
    bg2: #191A22;
    bg3: #222230;

    /* Foregrounds */
    fg0: #BD93F9;
    fg1: #FF79C6;
    fg2: #8BE9FD;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}