* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #F3FAFC;
    bg1: #EDF6F9;
    bg2: #F3FAFC;
    bg3: #E2EEF3;

    /* Foregrounds */
    fg0: #4FB6C6;
    fg1: #5FA8A0;
    fg2: #7A8FD4;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}