* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #F7F8FA;
    bg1: #F2F4F7;
    bg2: #F7F8FA;
    bg3: #E6E9EE;

    /* Foregrounds */
    fg0: #4C8EDA;
    fg1: #7A8A99;
    fg2: #B39DDB;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}