* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #FAF7FF;
    bg1: #F6F1FB;
    bg2: #F0EBF8;
    bg3: #E8E1F1;

    /* Foregrounds */
    fg0: #C026D3;
    fg1: #06B6D4;
    fg2: #EC4899;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}