* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #F8E7D4;
    bg1: #F7EEE4;
    bg2: #F1E6DA;
    bg3: #EADCCF;

    /* Foregrounds */
    fg0: #F19762;
    fg1: #E0AF68;
    fg2: #F28C8C;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}