* {
    font: "Iosevka Nerd Font Medium 11";

    /* Backgrounds */
    bg0: #F8E6EE;
    bg1: #FFEAF1;
    bg2: #F2D2DF;
    bg3: #E6C1D2;

    /* Foregrounds */
    fg0: #C06A78;
    fg1: #B76A88;
    fg2: #B76BB3;

    /* Aliases */
    accent: @fg0;
    urgent: @fg2;

    background: @bg0;
    background-alt: @bg1;
    secondary: @bg2;
    foreground: @fg0;

    background-color: @background;
    text-color: @foreground;

    margin: 0;
    padding: 0;
    spacing: 0;
}